/*  COMMON STYLES  */

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

/* a {
  text-decoration: none;
} */
button {
  cursor: pointer;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* HEADER */

.logotype {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-part-header {
  color: #2e2f42;
}
.adress-item-link {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.adress-item-link:hover,
.adress-item-link:focus {
  color: #404bbf;
}

.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

/* HERO SECTION  */
.section-hero-fon {
  background-color: #2e2f42;
}
.section-hero-title {
  color: #fff;
  background: #2e2f42;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}

.order-serv-btn {
  color: #ffffff;
  background-color: #4d5ae5;
  /* Button Text */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}

.order-serv-btn:hover,
.order-serv-btn:focus {
  background-color: #404bbf;
}

/* SOLUTIONS */

.section-our-solution {
  background: #fff;
}
/* Header 3 */
.section-solution-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.section-solution-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/* TEAM */

.section-our-team {
  background-color: #f4f4fd;
}
.our-team-title {
  color: #2e2f42;
  /* Header 2 */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.our-team-list {
  background-color: #ffffff;
}
.our-team-names {
  color: #2e2f42;
  /* Header 3 */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.our-team-describtion {
  color: #434455;
  text-align: center;
  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}


/* Our Portfolio */

.section-our-portfolio {
  background: #ffffff;
}

.our-portfolio-title {
  color: #2e2f42;
  text-align: center;
  /* Header 2 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.our-portfolio-items {
  color: #2e2f42;
  background: #ffffff;
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.our-portfolio-describtion {
  color: #434455;
  background: #ffffff;
  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/* FOOTER */

.section-footer-text {
  color: #f4f4fd;
  background-color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.section-footer-fon {
  background: #2e2f42;
}
.logotype-footer-style {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-part-footer {
  color: #f4f4fd;
}
